<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535840717895-6k2q8st4nj3ng3kt1puelvt0ek7sc5al.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535840717895-6k2q8st4nj3ng3kt1puelvt0ek7sc5al</string>
	<key>API_KEY</key>
	<string>AIzaSyBDL_CepX7jhwPQVwBxRg96hDtBCr7GdtQ</string>
	<key>GCM_SENDER_ID</key>
	<string>535840717895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.driversApp</string>
	<key>PROJECT_ID</key>
	<string>driverapp-a6e21</string>
	<key>STORAGE_BUCKET</key>
	<string>driverapp-a6e21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535840717895:ios:a061fdb6c3a17c15cec562</string>
</dict>
</plist>